* {
	font-family: Roboto, sans-serif;
}

body {
	width: 990px;
    margin: 0 auto;
}

td{
    overflow: hidden;
}
tr{
    overflow: hidden;
    border-bottom: 1px solid #cdcdcd;
}
th{
    overflow: hidden;
}
textarea {
	resize: none;
}

.form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

button, input[type="submit"] {
	width: 200px;
	height: 30px;
	border: none;
	text-decoration: none;
	color: white;
	font-size: 1.1rem;
	font-weight: 700;
	cursor: pointer;
}
input {
  border-radius: 2px;
  border: 1px solid white;
  -webkit-box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
  padding-left: 10px;
}

input[type="checkbox"] {
  background: white;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:hover, input[type="submit"]:focus {
	outline: none;
}

button:hover, input[type="submit"]:active {
	outline: none;
}

.breadcrumbs {
	margin: 35px 0;
  font-family: Roboto;
  color:  #5f6264;
  font-size: 14px;
  font-weight: 400;
}

.form__doCampaignActive, .form__info, .form__dates, .form__desc, .form__other {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding-bottom: 30px
}

.form__doCampaignActive {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.input-title.doCampaignActive {
  display: inline;
}

.campaign-name, .requested-sum, .desc-of-campaign, .lang-name, .lang-desc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}


.campaign-name {
  margin-bottom: 15px;
}

.form__doCampaignActive div {
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.campaign-name__input {
	width: 90%;
  height: 27px;
  border: 1px solid white;
  padding: 0 10px;
  -webkit-box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;

  color:  #989999;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

.desc-of-campaign__input {
  background-color:  #ffffff;
  width: 710px;
  height: 150px;
  border: 1px solid white;
  padding: 10px;
  overflow: auto;
  -webkit-box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;

  color:  #989999;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



.requested-sum__input, .date__input, .shortcode__input {
	width: 200px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  height: 27px;
  position: relative;
  vertical-align: middle;
}

.toggler {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggler .toggler__label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 10px;
  margin-bottom: 0;
}

.submit-button {
	-ms-flex-item-align: start;
	    align-self: flex-start;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.popup-content {
	position: absolute;
	margin-left: 32%;
	margin-top: 12%;
	padding: 10px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.popup-content.popup-alert {
  width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-background {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(100,100,100,0.5);
	display: none;
}

.popup-content__left {
	margin-right: 20px;
	width: 300px;
}

.popup-content__left div {
	padding-bottom: 10px;
}

.lang-list__list {
	list-style: none;
	padding: 0;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 15px;
  padding-left: 40px;
}

.row > div {
  margin-right: auto;
  width: 50%;
}


.row:last-of-type {
	margin-bottom: 30px;
}

.input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;;
	-webkit-box-orient: vertical;;
	-webkit-box-direction: normal;;
	    -ms-flex-direction: column;;
	        flex-direction: column;
    margin-right: auto;
    width: 50%;
}

.list-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.list-title select {
	margin-left: 35px;

  border-width: 2px;
  border-color:  #e1e0e0;
  border-style: solid;
  background-color:  #ffffff;
  width: 266px;
  height: 23px;

  color:  #989999;
  font-size: 14px;
}

table {
	font-size: 0.8rem;
  background-color: #ffffff;
  border-collapse: collapse;
}

th {
  background-color: #ffffff;
	padding: 3px;
  color:  #4d5154;
  font-size: 13px;
}

td {
	height: 20px;
	padding: 10px;
	text-align: center;
}

td a {
  color:  #4d5154;
}

.button-delete {
	background-color: white;
	color: red;
	border: 2px red solid;
	border-radius: 3px;
  margin-left: auto;
  margin-right: 70px;
}

.label-campaign {
	color: #B55489;
	margin-bottom: 27px;
}

.status {
	margin-bottom: 30px;
}

.status meter {
	width: 310px;
}
.button-delete > a {
    color: red;
    text-decoration: none;
   }

.doika__header {
  background: -webkit-gradient(linear, left bottom, left top, from(#98a8b9), to(#c4c7cb));
  background: -webkit-linear-gradient(bottom, #98a8b9 0%, #c4c7cb 100%);
  background: -o-linear-gradient(bottom, #98a8b9 0%, #c4c7cb 100%);
  background: linear-gradient(0deg, #98a8b9 0%, #c4c7cb 100%);
  -webkit-box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.62);
          box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.62);
  width: 100%;
  height: 70px;
  padding: 0 10px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.doika__header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doika__header__wrapper .logo {
  width: 64px;
  height: 28px;
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 0px 0px 3px 3px;
  margin-right: auto;
  -webkit-box-shadow: 0px 2px 2.94px 0.06px rgba(0, 0, 0, 0.58);
          box-shadow: 0px 2px 2.94px 0.06px rgba(0, 0, 0, 0.58);
}

.doika__header__wrapper .button-quit {
  border-radius: 2px;
  border-width: 1px;
  border-color:  #9eacbc;
  border-style: solid;
  background-color:  #5ca77e;
  width: auto;
  height: 24px;
  -ms-flex-item-align: end;
      align-self: flex-end;

  font-family: Roboto;
  color:  #eef1f5;
  font-size: 12px;
  font-weight: 400;
  justify-self:flex-end;
  margin: 0 2px;
}

.doika__header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.doika__header__menu .menu__menu-item {
  border-radius: 2px;
  border-width: 1px;
  border-color:  #dcdddd;
  border-style: solid;
  background-color:  #d1d2d3;
  width: auto;
  min-height: 24px;
  height: auto;

  font-family: Roboto;
  color:  #3d3939;
  font-size: 12px;
  font-weight: 400;

  margin: 10px 2px;
}

.menu__menu-item.active {
  border-width: 1px;
  border-color:  #dcdddd;
  border-style: solid;
  background-color:  #5ca77e;
  width: auto;
  height: 24px;

  color:  #f9f7f7;
}

main {

  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.37);

          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.37);
  width: 100%;
  min-height: 460px;
  height: auto;
  padding: 30px 25px 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f4f6;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

.main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-buttons__create-campaign {
  border-width: 2px;
  border-color:  #5ca77e;
  border-style: solid;

  -webkit-box-shadow: 0px 2px 2.94px 0.06px rgba(0, 0, 0, 0.58);

          box-shadow: 0px 2px 2.94px 0.06px rgba(0, 0, 0, 0.58);
  width: 270px;
  height: 30px;
  border-radius: 3px;
  background-color:  #ffffff;
  color: #31383e;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.main-buttons__create-campaign:hover {
  background-color:  #5ca77e;
  color:  #fafdfe;
  border: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.main-buttons__create-campaign:active {
  background-color:  #5ca77e;
  -webkit-box-shadow: inset 1px 1px 10px #000, inset -3px -3px 10px #777;
          box-shadow: inset 1px 1px 10px #000, inset -3px -3px 10px #777;
  color:  #fafdfe;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.main-buttons__create-campaign:focus {
  outline: none;
}
.list-title {
  margin-top: 25px;
  margin-bottom: 25px;
}
.list-title h1 {
  color:  #31383e;
  font-weight: 700;
  font-size: 18px;
}

.conf-title {
  color:  #31383e;
  font-size: 18px;
  font-weight: 700;
}

.input-title {
  color:  #31383e;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  display: block;
}

.input__input {
  border-width: 2px;
  border-color:  #e1e0e0;
  border-style: solid;
  background-color:  #ffffff;
  width: 130px;
  height: 30px;
  margin-top: 12px;
}

.progress-bar {
  width: 410px;
  height: 27px;
  border-radius: 2px;
  border: 1px solid white;
  -webkit-box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;

  position: relative;
  overflow: hidden;
}
.progress-bar__indicator {
  background-color: #5ca77e;
  height: 100%;
  width: 0px;
}

.progress-bar__start-value {
  position: absolute;
  width: auto;
  height: 27px;
  top: 0;
  bottom: 0;
  left: 5px;
  font-family: Roboto;
  color:  #31383e;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
}
.progress-bar__end-value {
  position: absolute;
  width: auto;
  height: 27px;
  top: 0;
  bottom: 0;
  right: 5px;
  line-height: 27px;

  font-family: Roboto;
  color:  #31383e;
  font-size: 14px;
  font-weight: 500;
}

.photo-select {
  text-decoration: underline;
  cursor: pointer;
}

.photo-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.add-picture {
  margin-left: 10px;
}
.selected-picture {
  background: url(../images/icon-image.png) center center no-repeat;
  background-size: 50% 50%;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid white;
  -webkit-box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selected-picture img {
  width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 1px 0px 1px;
}


.ui-datepicker-trigger {
  width: 21px;
  height: 21px;
  margin-left: 5px;
  vertical-align: middle;
}

.remark {
  color:  #a9abab;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.popup-close {
      position: absolute;
      right: 10px;
      top: 10px;
      height: 20px;
      width: 20px;
      background: url("../images/close.png") 100% 100% no-repeat;
      background-size: cover;
      cursor: pointer;
}

.add-language-button {
  width: 150px;
  margin-right: 60px;
}

.title-star::after {
  content: "*";
  color: gray;
  margin-left: 3px;
  line-height: 5px;
  vertical-align: top;
}

#shortcode__copy {
    width: auto;
    height: 30px;
    margin-left: 5px;
    vertical-align: middle;
}

.checkbox-test-payments {
  margin-top: -20px;
  height: 20px;
  width: 20px;
}

.conf-title.checkbox-title {
  padding-left: 30px;
}

h2 {
   color:  #31383e;
   padding-bottom: 20px;
   padding-top: 40px;
   padding-left: 40px;
}

.login-popup h2 {
  text-align: center;
  padding-left: 0px;
}



.login-popup {      
      width: 100%;
      min-height: 100%;
      background-color: rgba(0,0,0,0.5);
      overflow:hidden;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;

  }

  .login-popup-content .row {      
        padding-left: 100px;
  }



  .login-popup .login-popup-content {

      position: absolute;
      left: 0;
      right: 0;
      top: 20px;
      width: 60%;
      padding: 30px;
      background-color: white;
      -webkit-box-shadow: 0px 0px 10px #000;
              box-shadow: 0px 0px 10px #000;
      font-family: Roboto, sans-serif;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
  }
