.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  left: 4px;
  bottom: 0px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  background-color:  #5ca77e;
  width: 27px;
  height: 27px;

}

input:checked + .slider {
  background-color: #e3e0e0;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #f9f5f5;
          box-shadow: 0 0 1px #f9f5f5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid white;
  -webkit-box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey, inset 1px 1px 2px grey, 1px 1px 1px grey;
  background-color:  #f9f5f5;
  width: 59px;
  height: 29px;
}